main {
    margin-top: 10vh; 
    display: grid;
    grid-template-columns: 2em  0.5fr  1fr 1fr 1fr  .5fr 2em;
    grid-auto-rows: 8rem;
    grid-gap: 1rem;
}


.big-round {
    border-radius: 4em;
}

div.nav {
    grid-area: 4 / 2 / 5 / 5 ;
}

div.link-me {
    grid-area: 1 / 4 / 2 / 7;
}

div.nav, div.link-me {
    background-color: gold;
}
div.link-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column space-around;
}

div.link-wrapper > a {
    margin: auto;
    font-size: 1.5em;
    padding: 0.2em;
    text-decoration: none;
    color: #000000;
    transition-duration: 0.8s;
    transition-property: transform;
}

div.link-wrapper > a:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.heading-center {
    color: #000000;
    grid-area: 2 / 2 / 4 / 7 ;
    background-color: darkgreen;
    padding: 0em 2em;
}


.heading-right {
    text-align: right;
}

main {
    background-color: #ffffff;
}

main h1{
    padding: 0;
    text-align: left;
}

@media only screen and (min-width: 900px) {
    main {
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    }
    .big-round {
        border-radius: 4em;
    }
    
    div.nav {
        grid-area: 4 / 2 / 5 / 5 ;
    }
    
    div.link-me {
        grid-area: 1 / 4 / 2 / 7;
        align-content: center;
    }
    
    .heading-center {
        grid-area: 2 / 3 / 4 / 6;
    }
    div.link-wrapper > a {
        font-size: 2em
    }
    h1 {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 600px) {
    .big-round {
        border-radius: 3em;
    }
    
    div.nav {
        grid-area: 4 / 2 / 5 / 7 ;
        
    }
    
    div.link-me {
        grid-area: 1 / 2 / 2 / 7;
        
        
    }
    .heading-center {
        color: #000000;
        grid-area: 2 / 3 span 3;
    }

    h1 {
        font-size: 4.5em;
        padding: 0;
        text-align: left;
    }

    div.link-wrapper > a {
        font-size: 2em
    }
    main h1 {
        font-size: 3em;
    }
    
    .big-round {
        border-radius: 3em;
    }
    
    div.nav {
        grid-area: 4 span 1 ;
        
    }
    
    div.link-me {
        grid-area: 1 span 1;
        align-content: center;
        
    }
    
    .heading-center {
        color: #000000;
        grid-area: 2 / 1 / 4 /8;
    }
    div.link-wrapper > a {
        font-size: 1em
    }
}
@media only screen and (max-width: 390px) {
    .heading-center {
        color: #000000;
        grid-area: 2 / 3 span 3;
    }

    h1 {
        font-size: 4.5em;
        padding: 0;
        text-align: left;
    }

    div.link-wrapper > a {
        font-size: 2em
    }
    main h1 {
        font-size: 3em;
    }
    
    .big-round {
        border-radius: 3em;
    }
    
    div.nav {
        grid-area: 4 span 1 ;
        
    }
    
    div.link-me {
        grid-area: 1 span 1;
        align-content: center;
        
    }
    
    .heading-center {
        color: #000000;
        grid-area: 2 / 1 / 4 /8;
    }
    div.link-wrapper > a {
        font-size: 1em
    }
}